*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p{
    font-family: 'Mulish', sans-serif;
}
html{
    scroll-behavior: smooth;
    
}

 html body{ 
  width: 100%;
}

.burger{
    background-color: #080710;
    padding: 10px;
    border-radius: 5px;
}



.hill{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Rowdies', cursive;
    background-color: #728c69;
    padding: 10px;
    border-radius: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

form{
    background-color: transparent;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    display: flex;

}

form input{
    flex: 1;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    padding: 0px 10px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(-50% -50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0);
}

form button{
    background-color: #728c69;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 20px 10px;
}

::placeholder{
    padding: 10px 50px;
    color: #fff;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 1px;
}




.cont{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: url(images/beggy.jpg);
    background-position: top;
    background-size: cover;
    height: 100%;
  
}

.add-cart{
    background-color: #000;
    padding: 5px; 
    font-size: larger; 
    border: none !important;
    margin-left: 0 !important;
    transition: 2s;
    color: #fff;
}

.cont{
    padding-top: 50px !important;
}

main{
    display: grid;
    grid-template-columns: 420px 420px 420px;
    gap: 30px;
    margin-top: 40px;
    width: 97% !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 40px;
    padding-bottom: 70px;
    margin-top: 50px;
    
}
 


body{
    width: 100%;
}


@media only screen and (max-width: 600px) {
    form{
        background-color: transparent;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 55px;
        display: flex;
    
    }
}

